* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.wid {
	width: 10%;
}
.firstwidth {
	width: 5%;
}
.main_grad {
	background-image: linear-gradient(#000, rgb(43, 68, 108));
}
.shadow {
	box-shadow: 0px 0px 5px 3px #000000 !important;
}
.margin-top {
	margin-bottom: -5% !important;
}
.edit {
	background-color: blue;
	color: aliceblue;
}
.header_fond {
	font-family: "Caveat", cursive;
	font-size: 60px !important;
	color: rgb(50, 131, 181);
}
